<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>News</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous"/>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">News Site</a>
                </div>
                    <p class="navbar-text navbar-right" th:text="'Signed is as ' + ${username}" style="margin-right: 10px;">Signed in as Anonymous</p>
                </div>
            </nav>
        </header>
        
        <div>
            Hello, Thymeleaf!
        </div>
        
        <footer class="footer" style="position: absolute; bottom: 0;background-color: #f5f5f5;">
            <div class="container">
                <p th:text="${#dates.format(datetime, 'dd MM yyyy HH:mm')}" class="text-muted">Page was rendered today</p>
            </div>
        </footer>
    </body>

</html>
